<div class="row">
    <div class="content  form-horizontal">
        <div class="container">
            <div class="row">
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Création d'un serveur</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            {{ form_start(form) }}
                            <div class="col-sm-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-10">
                                            <h5>Nom</h5>
                                            {{ form_widget(form.nom) }}
                                        </div>
                                        <div class="col-md-12 form-event">
                                            <h5>Emplacemet</h5>
                                            {{ form_widget(form.emplacement) }}

                                        </div>
                                        <div class="col-md-12 form-event">
                                            <h5>Modele</h5>

                                            {{ form_widget(form.modele) }}
                                            <span class="help-block">{{ form_errors(form.modele) }}</span>
                                        </div>






                                        <div class="col-xs-12">
                                            <div class="col-md-12 form-event">
                                                <button class="btn btn-info pull-right" type="submit">
                                                    Valider
                                                </button>
                                            </div>

                                        </div>
                                        {{ form_end(form) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></div>  </div>