{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des versions</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>numéro de version</th>
                <th>Logiciel</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td><a href="{{ path('version_show', { 'id': version.id }) }}">{{ version.id }}</a></td>
                <td>{{ version.nom }}</td>
                <td>{{ version.numvers }}</td>

            </tr>
        {% else %}
        <h2>Pas de version implémentée</h2>
        {% endfor %}
        </tbody>
    </table>
    <li>
        <a href="{{ path('software_index') }}">Retour à la liste des logiciels</a>
    </li>
{% endblock %}
