{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Numvers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td><a href="{{ path('version_show', { 'id': version.id }) }}">{{ version.id }}</a></td>
                <td>{{ version.nom }}</td>
                <td>{{ version.numvers }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('version_show', { 'id': version.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('version_edit', { 'id': version.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('version_ajout', { 'id': version.id,'serveur':serveur.id }) }}">ajout</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('version_new') }}">Create a new version</a>
        </li>
    </ul>
{% endblock %}
